*{
    font-family: 'Martel', serif;
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(64, 20, 105);
    color: dodgerblue
    
}
header{
	position: fixed; 
	background-color: black; 
	width: 100%;
	top: 0;
	z-index:2;
    padding: 10px 0;
}
section{
    margin: 60px 0;

}
html{
    scroll-behavior: smooth;
}
footer{
    padding: 20px 0 ;
}
a{
    color: blueviolet;
    text-decoration: none;
}


h1{
   text-align: center; 
   font-size: 30px;
   padding: 20px 0;
   
}
h2{
    font-size: 30px;
    padding: 10px 0;
}
input,textarea{
    width: 500px;
    padding: 10px;
    border-radius:5px 0 ;
}
:target{
	scroll-margin-top:180px;
}
/* CLasses e Ids*/

.header-logo{
    width: 100px;
} 

.container{
    max-width: 1170px;
    margin: 0 auto;
    
    
}
.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}


.box-flex{
    align-items: center;
    justify-content: space-between;
    display: flex;
}


.header-navbr ul {
    height: 100%;
}
.header-navbr ul li {
    margin: 0 25px;
    text-transform: uppercase;
    list-style: none;
    
}
.header-navbr ul li a:hover{
    color: darksalmon;
}
.header-social-media ul li{
    margin: 0 10px;
    
}
.header-social-media ul li a:hover{
    color: blue;
}
#imagem-sobre {
    width: 30%;

}
#imagem-sobre img{
    width: 100%;
    margin-top: 150px;
}

#sobre{
    width: 60%;
    padding-left:20px;
    
}
/* Galeria */
.gallery-card{
    width: 30%;
	height: 500px;
	border:  solid 2px black; 
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-color: black;
	margin-bottom: 20px;
	margin-top: 20px;
	margin-left: 30px;
}
.gallery-card-btn{
    padding: 10px 15px;
    border: 2px solid black;
    color: white;
    font-weight: 300;
    text-transform: uppercase;
    background-color: palevioletred;
    transition: .60s;
}
.gallery-card-btn:hover{
    background-color: darkmagenta;
}
.gallery-img {
    background-size: 100%;
    background-position: center;
    background-color: coral;
    background-blend-mode: multiply;
    transition: .60s;
}
.gallery-img:hover{
    background-size: 100%;
    background-color: floralwhite;
    background-blend-mode: multiply;
}
#card-1{
 background-image: url(../Meusite/imagens/wanda.jpg);
}
#card-2{
  background-image: url(../Meusite/imagens/Dani.jpg);
}
#card-3{
 background-image: url(../Meusite/imagens/Merlin.jpg);
}
/* Contato */
.dados-pessoais{
    width: 45%;
}
#dados-contato{
    width: 45%;
}
#form{
    width: 45%;
    
}
.btn-submit{
    background-color: red;
    color: wheat;
    width: 250px;
}
.btn-submit:hover{
    background-color: plum;
}
.form-group{
    padding: 5px 0;
}
.whats{
    position: fixed;
    bottom: 30px;
    right: 30px;
    
}
.main-table{
    border: 2px solid black;
    margin-left: 100px;
}
@media screen and (max-width: 800px){
    body{
        background-color: blue;
    }
}

